{% extends 'base.html.twig' %}

{% block body %}
<!-- la liste des stats des joueurs-->
<div class="col-12 col-lg-10">
    <h2 class="text-muted fw-bold mb-4">Single Ratings</h2>
        {% include 'partials/header/ratings.html.twig' %}
            {% for player in players %}               
                {% include 'partials/player/infos.html.twig' %}
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set ratingSingle = player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 %}
                            <p>{{ ratingSingle + player.hard /100}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set ratingSingle = player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 %}
                            <p>{{ ratingSingle + player.clay /100}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set ratingSingle = player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 %}
                            <p>{{ ratingSingle + player.grass /100}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set ratingSingle = player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 %}
                            <p>{{ ratingSingle + player.indoor /100}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 }}</p>
                        </a>
                    </div>
                    <hr class = "my-1">
                </div>
            {% endfor %}
            </div>
                
        </div>

        <!-- pagination -->
        {% include 'partials/pagination/tableau.html.twig' %}
    </div>
</div>
{% endblock %}




