{% extends 'base.html.twig' %}

{% block body %}
<!-- la liste des stats des joueurs-->
<div class="col-12 col-lg-10">
    <h2 class="text-muted fw-bold mb-4">Global palmares</h2>
        {% include 'partials/header/palmares.html.twig' %}
            {% for player in players %}               
                {% include 'partials/player/infos.html.twig' %}
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleLow + player.atpDoubleLow }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleMid + player.atpDoubleMid }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleHigh + player.atpDoubleHigh }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.tmcSingle + player.tmcDouble }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.gsSingle + player.gsDouble }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.weeksN1Single + player.weeksN1Double }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set palmares = (player.atpSingleLow + player.atpSingleMid * 8 + player.atpSingleHigh * 25 + player.tmcSingle * 35 + player.gsSingle * 100 + player.weeksN1Single * 3) + (player.atpDoubleLow + player.atpDoubleMid * 8 + player.atpDoubleHigh * 25 + player.tmcDouble * 35 + player.gsDouble * 100 + player.weeksN1Double * 3) / 3.5 %}
                            <p>{{ palmares | round(0) }}</p>
                        </a>
                    </div>
                    <hr class = "my-1">
                </div>
            {% endfor %}
            </div>
                
        </div>

        <!-- pagination -->
        {% include 'partials/pagination/tableau.html.twig' %}
    </div>
</div>
{% endblock %}




