{% extends 'base.html.twig' %}

{% block body %}
<!-- la liste des stats des joueurs-->
<div class="col-12 col-lg-10">
    <h2 class="text-muted fw-bold mb-4">Single palmares</h2>
        {% include 'partials/header/palmares.html.twig' %}
            {% for player in players %}               
                {% include 'partials/player/infos.html.twig' %}
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleLow}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleMid}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleHigh}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.tmcSingle}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.gsSingle}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.weeksN1Single}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.atpSingleLow + player.atpSingleMid * 8 + player.atpSingleHigh * 25 + player.tmcSingle * 35 + player.gsSingle * 100 + player.weeksN1Single * 3}}</p>
                        </a>
                    </div>
                    <hr class = "my-1">
                </div>
            {% endfor %}
            </div>
                
        </div>

        <!-- pagination -->
        {% include 'partials/pagination/tableau.html.twig' %}
    </div>
</div>
{% endblock %}




