{% extends 'base.html.twig' %}

{% block body %}
<!-- la liste des nouveaux joueurs-->
    <div class="col-12 col-lg-10">
        <h2 class="text-muted fw-bold mb-1">New players</h2>
        {% include 'partials/header/index.html.twig' %}
            {% for player in players %}               
                {% include 'partials/array/looks.html.twig' %}
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.firstname }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.lastname }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.countries.getName }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.age }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 + player.doubles /2.5}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{
                                    (
                                        (player.strenght / ( player.actualAgeFactor / 100 )) / 5 
                                        * ( 1 + (( player.globalAgeFactor - 100) / 200 ))
                                    ) 
                                    + (player.speed / ( player.actualAgeFactor / 100)) / 10 
                                    * ( 1 + (( player.globalAgeFactor - 100) / 200) 
                                    + (player.endurance / (( player.actualAgeFactor / 100 ) * ( player.actualAgeFactor / 100))) ** (0.65 - (( player.globalAgeFactor - 100) / 1000))
                                    * 1.4 
                                    * ( 0.91 + (( player.globalAgeFactor - 100) / 200)) 
                                    * ( 0.91 + (( player.globalAgeFactor - 100) / 200)) 
                                    + player.talent ** ( 0.7 - (( player.globalAgeFactor - 100 ) / 1000))
                                    + ( player.mentality / 10 )
                                ) * 1.25 }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>not available now</p>
                        </a>
                    </div>
                    <hr class = "my-1">
                </div>
            {% endfor %}
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <nav class="col-lg-9 offset-lg-3">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}



