{% extends 'base.html.twig' %}

{% block body %}
<!-- la liste des nouveaux joueurs-->
    <div class="col-12 col-lg-10">
        <h2 class="text-muted fw-bold mb-4">longest active players without update</h2>
        {% include 'partials/header/index.html.twig' %}
            {% for player in players %}               
                {% include 'partials/array/looks.html.twig' %}
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.firstname }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.lastname }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.countries.getName }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.age }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            <p>{{ player.ability + player.serve /2 + player.strenght /5 + player.speed /10+ player.mentality /10 + player.doubles /2.5}}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set singlePotential = ((player.strenght / ( player.actualAgeFactor / 100 )) / 5 
                                    + (player.speed / ( player.actualAgeFactor / 100)) / 10
                                    + (player.endurance / (( player.actualAgeFactor / 100 ) * ( player.actualAgeFactor / 100))) ** 0.65
                                    * 1.4 * 0.91 * 0.91 
                                    + player.talent ** 0.7  
                                    + ( player.mentality / 10 )) 
                                    * 1.25 %}
                            <p>{{ singlePotential | round(2) }}</p>
                        </a>
                    </div>
                    {% include 'partials/array/format.html.twig' %}
                        {% include 'partials/player/show.html.twig' %}
                            {% set doublePotential = ((player.strenght / ( player.actualAgeFactor / 100 )) / 5 * 0.83 
                                    + (player.speed / ( player.actualAgeFactor / 100)) / 10 * 0.83
                                    + (player.endurance / (( player.actualAgeFactor / 100 ) * ( player.actualAgeFactor / 100))) ** 0.95
                                    * 1.3 * 0.83 * 0.83 
                                    + player.talent ** 0.95 
                                    + ( player.mentality / 10 )) 
                                    * 1.17 %}
                            <p>{{ doublePotential | round(2) }}</p>
                        </a>
                    </div>
                    <hr class = "my-1">
                </div>
            {% endfor %}
                    </div>
                </div>
            </div>

            <!-- pagination -->
            {% include 'partials/pagination/tableau.html.twig' %}
        </div>
    </div>
{% endblock %}



