<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('raquette.jpeg') }}" type="image/x-icon">

    <title>RR Stats</title>
</head>
    <body>
         <!-- Nav -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="{{ path('default') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                    <img src="{{ asset('raquette.jpeg') }}" height="24" alt="Logo RR stats">
                    <span class="navbar-brand">RR Statistics</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('default') }}">Home</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="bi bi-bookmark"></i> Favorite players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('player_new') }}"><i class="bi bi-bookmark"></i> Add player</a>
                        </li>
                    </ul>

                    <form class="d-flex" action="list.html">
                        <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                        <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
                <!-- main -->
        <div class="my-3 py-2 text-center">
            <img src="{{ asset('djoko.png') }}" height="100" alt="Logo RR stats" class="mb-3">
            <h1 class="display-6 fw-bold">Rocking Rackets Statistics</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-muted">The website to estimate your players ratings</p>
            </div>
        </div>

        <div class="container-fluid bg-light p-5 border-top">

            <div class="row mb-2">
                <!-- catégories -->
                <div class="col-12 col-lg-2">
                    <h2 class="text-center text-muted fw-bold mb-4">Categories</h2>
                    <ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="{{ path('stats_players') }}">Players stats</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="{{ path('ratings_single') }}">Single ratings</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="#">Double ratings</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="#">Single potentials</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="#">Double potentials</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="#">Single Palmares</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="#">Double Palmares</a>
                        </li>
                        <li class="btn-group" role="group">
                            <a class="btn btn-sm btn-outline-danger mx-1 mb-2 custom-link" href="#">Global Palmares</a>
                        </li>
                    </ul>
                </div>

        {% block body %}
        {% endblock %}
        
        <!-- footer -->
        <footer class="container-fluid py-4 border-top text-center">
            <span class="text-muted">RR Statistics</span>
        </footer>

        <!-- Optional JavaScript; choose one of 
            the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        -->
    </body>
</html>
